@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* p {@apply text-red-500} */
  .container {
    @apply lg:px-[100px] px-5
  }
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


